[[source]]
url = "https://artifact.dso.swissre.com/artifactory/api/pypi/python/simple"
verify_ssl = true
name = "SwissRE Artifactory"

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tqdm = "*"
notebook = "==7.1.2"
openai = "*"
elasticsearch = "*"
pandas = "*"
scikit-learn = "*"
ipywidgets = "*"
requests = "*"
docs = "*"
docx = "*"
python-docx = "*"
matplotlib = "*"
plotly = "*"
dash = "*"
torch = "*"
transformers = "*"

[dev-packages]

[requires]
python_version = "3.10"
